{% extends 'base.html' %}

{% load static %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pitter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="home">Home <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="friend">Friend <span class="sr-only">(current)</span></a></li>
        
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
<div class="panel panel-primary">
     <div class="panel-heading">Joseph</div>
     <div class="text-right">
    <button type="button" class="btn btn-primary">Follow</button>
</div>
    <div class="panel-body">
  
</div>
</div>
</div>

<div class="container">
<div class="panel panel-primary">
     <div class="panel-heading">Johnny</div>
     <div class="text-right">
    <button type="button" class="btn btn-primary">Follow</button>
</div>
    <div class="panel-body">
  
</div>
</div>
</div>


{% endblock %}