{% extends 'base.html' %}

{% load static %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pitter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="home">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="friend">Friend <span class="sr-only">(current)</span></a></li>
        
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
<div class="panel panel-primary">
     <div class="panel-heading">What do you want to say?</div>
    <div class="panel-body">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.Pitt }}
      <textarea class="form-control" rows="5" name="pit" type="text"></textarea>
    <button  type="submit" class="btn btn-default">Pitt here!</button>

  </form>
</div>
</div>
</div>

<div class="container">
<div class="panel panel-primary">
     <div class="panel-heading">@you</div>
    <div class="panel-body">
  <div> <h4>Me just doing some work </h4> </div>
</div>
</div>
</div>




{% for obj in pits_list %}
     <div class="container">

   <div class="panel panel-primary">
    <div class="panel-heading">@{{obj.username}}</div>
    <div class="panel-body">
    <div> <h4>{{obj.pit}}</h4> </div>

</div>
</div>
</div>
{% endfor %}

{% endblock %}